body{
    background: linear-gradient(70deg, #021c31, #073255);
}

input{
    vertical-align: middle;
}

div, form {
    background-color: lightblue;
}

#points{
    width: 5vh;
    height: 5vh;
    text-align: center;
    font-size: large;
    color: white;
    background-color: transparent;
    position:absolute;
    right:8.5%;
    top: 3%;
}

#question{
    font-size: 2.5em;
    min-height: 10vh;
    height: fit-content;
    text-align: center;   
    padding-left: 1%;
    padding-top: 0.25em;;
    border-radius: 13px;
    width:70%;
    position:relative;
    left:15%;
    right:15%;
    top:8vh;
   

}

#answers{
    min-height: 60vh;
    font-size: 1.25em;
    padding-left: 2%;
    width:70%;
    border-radius: 13px;
    position:relative;
    top:10vh;
    left:15%;
}


.button{
    filter:brightness(100%);
    transition: 0.1s;
    border:none;
    background-color: transparent;
}

.button:hover{
    filter:brightness(80%)
}

#next{
    background-color: transparent;
    background-image: url(../img/back.png);
    background-size: cover;
    width: 6vh;
    height: 6vh;
    border: none;
    border-radius: 50%;
    position:absolute;
    right:6.5%;
    top:11vh;
    -webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

#back{
    background-color: transparent;
    background-image: url(../img/back.png);
    background-size: cover;
    width: 6vh;
    height: 6vh;
    border: none;
    border-radius: 50%;
    position:absolute;
    left:8%;
    top:11vh;
}

#mark{
    background-color: transparent;
    background-image: url(../img/Achtung.png);
    background-size: cover;
    width: 6vh;
    height: 6vh;
    border: none;
    border-radius: 25%;
    position:absolute;
    left:8%;
    top:46vh;
}

#finish{
    background-color: rgba(0, 189, 252, 0.842);
    padding:0.5rem;
    background-image: url(../img/finishicon.png);
    background-size: cover;
    width: 6vh;
    height: 6vh;
    border: none;
    border-radius: 25%;
    position:absolute;
    right: 6.5%;
    top: 46vh;
}

.marked {
    background: orange;
}

.answer{
    font-size: 120%;
    padding: 0.5em;
}

@media screen and (min-width:400px) and (max-width:780px){

    .answerinput{
         
        -ms-transform: scale(2); 
        -moz-transform: scale(2); 
        -webkit-transform: scale(2); 
        -o-transform: scale(2); 
        transform: scale(2);
        padding: 10px;
    }



    #question{
        font-size: 1.5rem;
    }

    #next{
        width: 6vh;
        height: 6vh;
        position:absolute;
        right:2.5%;
        top:11vh;
    }
    
    #back{
        width: 6vh;
        height: 6vh;
        position:absolute;
        left:4%;
        top:11vh;
    }
    
    #mark{
        width: 6vh;
        height: 6vh;
        position:absolute;
        left:4%;
        top:46vh;
    }
    
    #finish{
        width: 6vh;
        height: 6vh;
        position:absolute;
        right: 2.5%;
        top: 46vh;
    }

}

@media screen and (max-width:400px){

    .answerinput{
         
        -ms-transform: scale(1.5); 
        -moz-transform: scale(1.5); 
        -webkit-transform: scale(1.5); 
        -o-transform: scale(1.5); 
        transform: scale(1.5);
        padding: 10px;
    }

    #question{
        font-size: 1.3rem;
    }

    #next{
        width: 5vh;
        height: 5vh;
        position:absolute;
        right:0.5%;
        top:11vh;
    }
    
    #back{
        width: 5vh;
        height: 5vh;
        position:absolute;
        left:2%;
        top:11vh;
    }
    
    #mark{
        width: 5vh;
        height: 5vh;
        position:absolute;
        left:2%;
        top:46vh;
    }
    
    #finish{
        width: 5vh;
        height: 5vh;
        position:absolute;
        right: 0.5%;
        top: 46vh;
    }

    #points{
        font-size: 0.9rem;
    }
}

@media screen and (min-width:1300px){
    .answerinput{
         
        -ms-transform: scale(2); 
        -moz-transform: scale(2); 
        -webkit-transform: scale(2); 
        -o-transform: scale(2); 
        transform: scale(2);
        padding: 10px;
    }

    .answer{
        font-size: 2.5rem;
    }

    #points{
        font-size: 1.3rem;
    }

    #question{
        font-size:3.5rem;
    }
}

@media screen and (min-width:2100px){
    .answerinput{
         
        -ms-transform: scale(2.5); 
        -moz-transform: scale(2.5);
        -webkit-transform: scale(2.5); 
        -o-transform: scale(2.5); 
        transform: scale(2.5);
        padding: 10px;
    }

    .answer{
        font-size: 3rem;
    }

    #points{
        font-size: 1.9rem;
    }

    #question{
        font-size: 4rem;
    }
}